/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-background-color: #EDEAE6; 
  --ifm-color-primary: #B39400; 
  --ifm-color-primary-dark: #CCA700; 
  --ifm-color-primary-darker: #E6B800; 
  --ifm-color-primary-darkest: #FFDA34; 
  --ifm-color-primary-light: #FFE266; 
  --ifm-color-primary-lighter: #FFEB99; 
  --ifm-color-primary-lightest: #FFF3CC; 
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

[data-theme='dark'] {
  --ifm-color-primary: #FFDA34;
  --ifm-color-primary-dark: #E6B800; 
  --ifm-color-primary-darker: #CCA700; 
  --ifm-color-primary-darkest: #B39400; 
  --ifm-color-primary-light: #FFE266; 
  --ifm-color-primary-lighter: #FFEB99; 
  --ifm-color-primary-lightest: #FFF3CC; 
  --ifm-background-color: #000000; 
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

@media (max-width: 997px) {
  .navbar__toggle {
    order: 1;
    margin-left: auto; 
  }

  .navbar__brand {
    order: 0; 
  }

  .navbar__items {
    order: 2; 
  }

  .navbar__inner {
    display: flex;
    align-items: center;
  }

  .menu__list-container {
    width: 100%; 
    margin: 0; 
    padding: 0;
  }

  .menu__list {
    width: 100%; 
  }
}

/* front page css */
.intro-container {
  display: flex;
  flex-direction: column;
  gap: 1rem; 
  width: 100%;
  padding: 1rem 2rem;
}

.intro-section {
  width: 100%;
  max-width: 1200px;
  margin: 2rem auto;

}

.cards-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem; 
  flex-wrap: wrap;
}

.custom_card {
  background-color: var(--ifm-background-color);
  border: 1px solid var(--ifm-color-primary);
  border-radius: 0.5rem;
  padding: 0.5rem; 
  width: calc(32% - 1rem); 
  min-height: 100px; 
  text-decoration: none;
  color: var(--ifm-color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.1rem; 
  transition: background-color 0.3s, border-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  text-align: center;
}

.custom_card:hover {
  background-color: var(--ifm-color-primary-light);
  border-color: var(--ifm-color-primary-dark);
}

.header-container {
  display: none; 
}

/* Responsive styles */
@media (max-width: 768px) {
  .cards-container {
    flex-direction: column;
  }

  .card {
    width: 100%; 
    min-height: 150px; 
  }
}